@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('common-elements-tablet.css');

body {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 3rem 52.5rem auto;
}

/* positions the main element in the right space and adds a grid to make structuring easier */
main {
    grid-column: 2 / span 18;
    grid-row: 2;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-rows: 1fr 20fr 1fr; 
    width: 100%;
    height: 100%;
    margin: 1%;
    height: auto;
    margin: 0;
    padding: 0;
}

form {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    grid-template-rows: 10% 10% 10% 60% 10%;

}

input, textarea {
    border-radius: 25pt;
}

input {
    width: 99%;
    height: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid lightcoral;
}

legend {
    grid-row: 1;
    grid-column: 1 / span 4;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

label {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

.title {
    grid-column: 1;
    grid-row: 2;
}

.content {
    grid-column: 1;
    grid-row: 3;
}

#title {
    grid-column: 2 / span 3;
    grid-row: 2;
    font-size: 1rem;
}

#content {
    grid-column: 1 / span 4;
    grid-row: 4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    font-size: 1rem;
}

div {
    grid-column: 1 / span 4;
    grid-row: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

button {
    justify-content: center;
    border: 1px solid orangered;
    box-shadow: -1px 0 0 0 red, 1px 0 0 0 orange;
    text-align: center;
    width: 70%;
    height: 50%;
    border-radius: 25pt;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}