@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('common-elements-mobile.css');

/* places content in the right area and makes a grid for the contents to fit */
main {
    grid-column: 5 / span 12;
    grid-row: 3;
    position: relative;
    width: 100%;
    min-height: 48rem;
    margin: 1rem;
    padding: 0;
}

/* styling the articles to match the site */
article {
    border-radius: 25pt;
    position: relative;
    height: auto;
    width: 97%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: left;
    border: 1px solid orangered;
    margin-top: 1%;
    box-shadow: -1px 0 0 0 red, 1px 0 0 0 orange;
}

button {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5%;
    border-radius: 25pt;
    border: 1px solid orange;
    background-color: white;
    padding: 0;
    width: 6.9rem;
    height: 2rem;
    text-align: center;
    justify-self: end;
}


/* styling the title of the articles */
article h2 {
    margin: 0;
    padding: 4%;
    color: rgb(172, 32, 172);
    width: auto;
    font-size: 1.5rem;
}

article pre {
    margin: 0;
    padding: 4%;
    width: auto;
    height: auto;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
    font-weight: 400;
    overflow: hidden;
}

/* styleing the descriptions */
pre {
    margin: 2%;
    padding: 2%;
    color: rgb(0, 0, 0);
    grid-column: 1;
    grid-row: 3;
    width: 60%;
    font-weight: 400;
    font-size: 1rem;
}

div {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1%;
}

button:hover {
    background-color: orange;
    color: white;
    transition: 0.5s;
}

.hidden {
    visibility: hidden;
    position: absolute;
}
